*, * *, * * * {
    position: relative;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    background: #161616;
}

body > header {
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    background-color: #cb296a;
    background: linear-gradient(to bottom, #cb296a 0%, #a01a4c 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
}


body > header > h1 {
    display: inline-block;
    margin: 3mm;
    width: min-content;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

* {
    position: relative;
}

body > header > h1 {
    color: #161616;
    background: #fff;
    text-shadow: 0 0 .2em rgba(74, 20, 37, 0.5);
    background-color: #ff6694;
    background: linear-gradient(to bottom, hsla(337, 100%, 81%, 0.764) 6%, hsla(343, 86%, 50%, 0.787) 100%);
    padding: .111em;
    border-radius: .5em;
    font-size: 2.222em;
    border-top-right-radius: calc(2.222em - 8%);
}

body > header > h1 > span {
    display: inline-block;
    margin: .111em;
    padding: .111em;
    font-size: .888em;
    border-radius: .5em;
    text-shadow: 0 0 .1em rgba(74, 20, 37, 0.5);
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 .25em rgba(0, 0, 0, 0.25));
}

body > header > h1 > span:first-of-type {
    color: #ffffff;
    background: #c0273b;
    border-top-right-radius: calc(2.222em + 8%);
    padding-right: .4em;
}

body > header > h1 > span:nth-of-type(2) {
    color: #000;
    background: #ffffff;
}

.comment, .vs, .avd, .interactions, button, input, .unauth, .auth:not(.unauth), .chat, .chat > header.status, textarea, .chat .messages, .writ > header, .writ, .writ-writer, .writ-writer button:hover {
    filter: drop-shadow(0 0 .5em rgba(0, 0, 0, 0.25));
}

.vs {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #fff;
    border-radius: 4mm;
    padding: 2mm;
    transform: translateY(6px);
}

.vs > span {
    display: inline-block;
    height: 5mm;
    width: 5mm;
    margin: .2em;
    border-radius: 100% 1cm;
    cursor: pointer;
    background-color: #cb296a;
    background: linear-gradient(to bottom, #cb296a 0%, #a01a4c 100%);
    transition: all 140ms ease-in;
    user-select: none;
}

.vs > span:hover {
    background: linear-gradient(to bottom, #a01a4c 0%, #cb296a 100%);
}

.avd {
    position: absolute;
    bottom: 93%;
    left: 18%;
    right: 25%;
    color: #fff;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: radial-gradient(ellipse at center, #d879a1 0%, #a01a4c 100%);
    width: fit-content;
    margin: 0 auto;
    padding: .8mm;
    font-size: 1.2em;
    border-radius: 1mm;
    text-align: center;
    text-shadow: 0 0 .1em rgba(0, 0, 0, 0.5), 0 0 .15em rgba(216, 40, 84, 0.5);
}

.avd::before, .avd::after {
    font-size: .666em;
    content: "_";
    color: #f9027500;
}

input[type="search"] {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #fff;
    border-radius: 4mm;
    padding: 1.1mm;
    margin: 2mm;
    max-width: 52vw; 
}

.chat {
    position: fixed;
    right: 0%;
    bottom: 0%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    border-radius: 4mm;
    padding: 1.1mm;
    margin: 2mm;
    min-width: 280px;
    width: min-content;
    max-width: 12.4cm;
    max-height: 14cm;
    overflow: hidden;
    color:rgb(74, 20, 37);
    transform: scale(0.5) translateX(50%) translateY(50%);
    transition: all 140ms ease-in;
}

.chat:hover, .chat:active, .chat.pinned {
    transform: scale(1);
}

.chat > header.status {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    border-radius: 4mm;
    padding: 1mm;
    margin: .5mm;
    font-size: .888em;
    color:rgb(74, 20, 37);
    border: 1px solid rgb(123, 224, 123);
}

.chat > header.status.error {
    border: 1px solid rgb(224, 123, 123);
}

.chat textarea {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    border-radius: 4mm;
    padding: 1.4mm;
    margin: 1.6mm;
    overflow: hidden;
    line-height: 1;
    color:rgb(74, 20, 37);
}

.chat .messages {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    border-radius: 4mm;
    padding: 0;
    padding-top: .5mm;
    margin: 1.6mm;
    overflow: scroll;
    overflow-x: visible;
    max-height: 6cm;
    color:rgb(74, 20, 37);
}

.messages > article.message {
    display: inline-flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1;
    color:rgb(74, 20, 37);
}

.messages > article.message:first-of-type {
    padding-top: 1.6mm;
}

.messages .message > .who {
    display: inline-block;
    margin: .2em;
    padding: .44em;
    font-size: .888em;
    border-radius: .5em;
    text-shadow: 0 0 .1em rgba(74, 20, 37, 0.5);
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 .25em rgba(0, 0, 0, 0.25));
}

.messages .message.me {
    flex-direction: row-reverse;
}

.messages .message > .who.me {
    color: #ffffff;
    background: #c0273b;
    border-top-left-radius: calc(2.222em + 12%);
    border-top-right-radius: 0;
    transform: translateX(6px);
    padding-left: .4em;
}

.messages .message > p {
    display: inline-block;
    margin: .2em;
    padding: .44em;
    font-size: .888em;
    border-radius: .5em;
    text-shadow: 0 0 .1em rgba(74, 20, 37, 0.5);
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 .25em rgba(0, 0, 0, 0.25));
}

.messages .message > .who {
    color: #ffffff;
    background: #c0273b;
    border-top-right-radius: calc(2.222em + 12%);
    transform: translateX(-6px);
    padding-right: .4em;
}

.writ-writer {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    border-radius: 4mm;
    margin: 2mm;
    overflow: hidden;
    color:rgb(74, 20, 37);
}

.writ-writer > textarea {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    border-radius: 4mm;
    padding: 1.4mm;
    margin: 1.6mm;
    overflow: auto;
    line-height: 1;
    color:rgb(74, 20, 37);
}

.writ-writer > input[type="number"] {
    width: 4em;
    text-align: center;
    font-size: 1.2em;
    padding: .4em;
    margin: .4em;
    border-radius: 4mm;
    border: 1px solid #cb296a;
    background: #fff;
    color: #422c35;
}

.writ-writer > input[type="checkbox"] {
    width: 1.25em;
    height: 1.25em;
    margin: 2.5mm 2.5mm;
    border-radius: 4mm;
    border: 1px solid #cb296a;
    background: #fff;
    color: #422c35;
}

.writ-writer > textarea {
    min-height: 164px;
}

.writ-writer button {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #fff;
    border-radius: 4mm;
    padding: 1.4mm;
    margin: 1.6mm;
    overflow: hidden;
    line-height: 1;
    color:rgb(74, 20, 37);
    cursor: pointer;
}

.writ-writer button:hover {
    background: #cb296a;
    color: #fff;
}

.writ {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: hidden;
    color:rgb(74, 20, 37);
    transition: all 140ms ease-in;
}

.writ pre {
    line-height: 1.1;
}

.writ > header {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    color: #fff;
}

.writ > header > h1 {
    display: inline-block;
    margin: 3mm 3mm 3mm 3mm;
    width: min-content;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.writ > header > div {
    margin: 3mm;
    padding: .3mm;
}

.writ .menu button {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #fff;
    border-radius: 4mm;
    padding: 1.4mm;
    margin: 1.6mm;
    overflow: hidden;
    line-height: 1;
    color:rgb(74, 20, 37);
    cursor: pointer;
}

.tag {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 1.8mm;
    width: min-content;
    height: 1.222rem;
    transform: translateY(-6px);
    border-radius: 50% 2px;
    background: #fff;
    color: #000 !important;
    box-shadow: 0 0 .1rem .3rem hsl(0, 0%, 100%), 0 0 1rem 0.3rem hsla(346, 91%, 48%, .4);
    filter: drop-shadow(0 0 .5rem hsla(346, 91%, 48%, .4));
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    font-size: .8rem;
    z-index: 2;
}

.auth:not(.unauth) {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    color: #422c35;
    border-radius: 2mm;
    padding: 1.4mm .8mm ;
    margin: .8mm;
    max-width: 52vw;
    min-width: 320px;
    width: min-content;
}

.unauth {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    color: #422c35;
    border-radius: 2mm;
    padding: 1.4mm .8mm ;
    margin: .8mm;
    max-width: 52vw;
    min-width: 1.2cm;
    width: min-content;
}

.divider {
    color: #eca3b4c5;
    margin: 0 1mm 0 1mm;
}

.interactions {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    color: #422c35;
    border-radius: 2mm;
    padding: 1.4mm .8mm ;
    margin: .8mm;
    width: fit-content;
}

.interactions button, .interface button {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #fff;
    color: #422c35;
    border-radius: 2mm;
    padding: 1.4mm .8mm ;
    margin: .8mm;
    width: min-content;
    cursor: pointer;
}

.comment {
    background: #fff;
    color: #422c35;
    border-radius: 2mm;
    margin: .8mm 1.8mm;
    padding: 1mm;
    width: fit-content;
}

.comment .comment {
    border-left: 2px solid #cb296a;
}

span.owner, span.time {
    background: #fff;
    padding: 0 .3mm;
}

span.time {
    display: inline-block;
    margin: .2em;
    font-size: .888em;
    border-radius: .5em;
    text-shadow: 0 0 .1em rgba(74, 20, 37, 0.5);
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 .25em rgba(0, 0, 0, 0.25));
}

span.owner {
    display: inline-block;
    margin: .2em;
    font-size: .888em;
    border-radius: .5em;
    text-shadow: 0 0 .1em rgba(74, 20, 37, 0.5);
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 .25em rgba(0, 0, 0, 0.25));
}